.item-customer {
    box-shadow: 0 0 3px rgba(110, 110, 110, 0.781);
    padding: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

  }
  
  .item-customer .name{
    color: tomato;
    font-size: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
  }
  
  .item-customer .price{
    text-align: right;
    color: rgba(0, 0, 0, 0.699);
    font-size: 20px;
    justify-content: end;
  }
  
  .item-customer button{
    margin-top: 10px;
     background-color: rgb(8, 8, 8) !important;
     color: white !important;
  }

  .custom-col{
    width: 100px;
    height: 200px;
    padding: 1px;
  }

  input{
    border: 1px solid rgb(0, 39, 31) !important;
    box-shadow: none !important;
    outline: none !important;
  }
  input:focus{
    box-shadow: none !important;
    outline: none !important;
  }
  .ant-select-selector{
    border: 1px solid rgb(0, 39, 31) !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .category{
    border: 2px solid rgb(179, 176, 176);
    margin-right: 50px;
    align-items: center;
    padding-left: 25px;
    border-radius: 10px;
    cursor: pointer;
  }
  .category h4{
    margin-right: 25px;
    font-size: 22px;
  }
  .category img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: -3px;
  }
  .selected-category{
    border: 3px solid rgb(3, 38, 66);
  }