.edit-btn {
    background-color: #EEA414 !important;
    color: #fff !important;
    margin: 10px !important;
  }

  .cancel-btn {
    background-color: #CF4D8B !important;
    color: #fff !important;
    margin: 10px !important;
  }
