.back-btn {
    text-decoration: none !important;
    color: inherit !important;
    font-size: 0.875rem !important;
    width: 5px !important;
    padding: 6px 16px !important;
    border-radius: 4px !important;
    background-color: #EEA414 !important;
  }
.callstaff-btn {
    background-color: #2196f3 !important;
    color: #fff !important;
    margin: 10px !important;
    width: 120px !important;
    font-size: 16px !important;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.75 !important;
    letter-spacing: 0.02857em !important;
    text-transform: uppercase !important;
    min-width: 64px !important;
    padding: 6px 8px !important;
    border-radius: 4px !important;  
  }
  
  .checkbills-btn {
    background-color: #CF4D8B !important;
    color: #fff !important;
    margin: 10px !important;
    width: 120px !important;
    font-size: 16px !important;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.75 !important;
    letter-spacing: 0.02857em !important;
    text-transform: uppercase !important;
    min-width: 64px !important;
    padding: 6px 8px !important;
    border-radius: 4px !important;  
  }
  .table-id {
    top: 25px;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .table-id h6 {
    font-weight: bold !important;
    margin-left: 10px !important;
  }
  .title {
    font-weight: bold !important;
    margin-left: 10px !important;
    top: 25px;
    left: 5px;
    width: 120px;
  }
.tableicon{
    top: 25px;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    margin-left: 30px!important;
}